spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ms_email
    username: root
    password: root

  jpa:
    properties.hibernate.show_sql: true
    properties.hibernate.format_sql: true
    properties.hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
    open-in-view: true #esse comando permite que quando o jackson for serializar o json em associações de mão dupla acione o jpa para trazer esse objetos amarrados.
    hibernate:
      ddl-auto: update

  profiles:
    active: test

  mail:
    host: smtp.gmail.com
    port: 587
    username: luisscudeler@gmail.com
    password: zdrmlujgeyrwnlmn
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
#https://support.google.com/accounts/answer/185833  #PAra criar a senha de app de 16 digitos acima consultar este site

server:
  port: 8080
